/* #root {
    max-width: 850px;
    max-width: 0 auto;
} */

nav {
    padding: 20px 0 20px 0;
}

.active-link {
    color: #F15B2A;
    font-size: 1.1rem;
}

.inactive-link {
    font-size: 1.1rem;
}